
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Function</title>
</head>
<body>
    <div> 
        <p class="power">新增</p>

        <p class="power">修改</p>

        <p class="power">删除</p>

        <p class="power">查询</p>
    </div>
</body>


</html>
