
@{
    ViewBag.Title = "TreeView";
}

<h2>TreeView</h2>

<div id="test">


</div>

<button id="b">checkboxview</button>
<table id="x">


</table>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/TreeView.js"></script>
<script src="~/Scripts/Role.js"></script>
<script>

   // GetRoles();

    //DeleteRoleIDs();

   // InsertRole();
  //  UpdateRole();


    //$("#b").click(function () {
    //    var tt = GetCheckBoxPowerValue();
    //    RoleAuthorization();
    //    console.log(tt);
    //});



    //var tree = {
    //    "ParentID": "parentID",
    //    "NodeID": "id",
    //    "HtmlElement": "<p>",
    //    "ViewFiled": "text",
    //    "ViewValue": "id",
    //    "ParentElementID": "test", 
    //    "checkbox": {
    //        "value": "text",
    //        "relevance": true
    //    },
    //    "icon": {
    //        "class": "ic",
    //        "src": "/Content/expand_hover.png",
    //        "unfold": "/Content/close_hover.png",
    //        "shrink":"/Content/expand_hover.png"

    //    }

    //}



    //AuthorizationData(tree);

    //GetPowerByRoleID();

   // RoleAllocationUser();
    GetRoleByUser();
 

  
</script>